@media (min-width: 600px) {

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--dark-slate-grey) ;
    width: 100vw;
    height: 100vh;
}
section {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    width: 70%;
    height: 70%;
    border-radius: 20px;
}

.img-login{
    
    background-image: url('/assets/images/illustration-sign-up-desktop.svg');
    background-repeat: no-repeat;
    background-position: right;
    width: 40%;
    padding: 0 20px 0 0;
}

footer{
    position: absolute;
    bottom: 0;
    color: var(--grey);
}
a{
    color: var(--grey);
}


}