:root {
    /* colors */
    --tomato: #ff6257;
    --dark-slate-grey: #242742;
    --charcoal-grey: #36384e;
    --grey: #9294a0;
    --white: #ffffff;
    /* fonts */
    --font-family: "Roboto", sans-serif;
}

/* main {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    position: absolute;

} */
section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}



#img-login{
    /* background-image: url('/assets/images/illustration-sign-up-mobile.svg'); */
    width: 100vw;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin: 22px 22px 0;
    padding-right: 10px;
    gap: 2em;
}

h1 {
    font-family: var(--font-family);
    font-size: 35px;
    font-weight: 700;
    color:var(--dark-slate-grey);
    /* margin: 20px 20px 0; */
    
}

p{
    text-align: justify;
    justify-content: start;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 450;
    color: var(--dark-slate-grey);
    /* margin: 18px; */
}

form{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 0.4rem;
    border-radius: 7px;
}

label {
    font-family: var(--font-family);
    font-size: 11px;
    font-weight: 700;
    color: var(--dark-slate-grey);
    text-align: start;
}

form > input{
    display: flex;
    justify-content: center;
    border-radius: 7px;

}

.email-input{
    
    border: 1px solid #D4D4D4;
    height: 55px;
    outline: none;
    padding: 0 0 0 15px;
}


.btn-submit{
    font-size: 15px;
    font-weight: bold;
    border: none;
    width: 100%;
    height: 55px; 
    background-color:  var(--dark-slate-grey) ;
    color: var(--white);
    padding: 0 15px 0 15px;
}

.btn-submit:hover{
    background: linear-gradient(90deg, rgba(255,98,87,1) 50%, rgba(255,162,48,1) 100%);
}

footer{
    text-align: center;
    text-decoration: none;
    color: var(--charcoal-grey);
    font-size: 10px;
    width: 100%;
    position: absolute;
    margin-top: 20px;
}
a{
    text-decoration: none;
    color: var(--charcoal-grey);
}